@charset "UTF-8";

/**
 * login.jsp
 * adminLogin.jsp
 * userCreate.jsp
 * userCreateConfirm.jsp
 * admin.jsp
 * itemCreate.jsp
 * itemCreateConfirm.jsp
 * purchaseConmplete.jsp
 */

.color-box {
	background-color: rgba(173, 210, 210, 0.5);
	padding: 50px;
}

.login-wrapper {
	display: flex;
	padding: 50px 0;
	text-align: left;
}

.login-box, .user-box {
	width: 50%;
	padding: 0 50px;
}

.user-box {
	border-left: 1px solid  rgba(117, 120, 120, 0.5);
	position:relative;
}

.form-box {
	width: 50%;
	margin: auto;
	text-align: left;
}

.confirm-box {
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
	text-align: left;
	font-size: 20px;
	border-spacing: 0 4px;
	border-collapse: separate;
}

.title {
	color: #757882;
}

label {
	color: #757882;
}

.input-field {
	width: 100%;
	height: 3em;
	padding: 0 1em;
	margin-bottom: 1em;
	background-color: #faf9f9;
	border: none;
	font-size: 1em;
}

.input-field:focus {
	border: 1px solid #ff6473;
}

tr {
	margin-bottom: 1px;
}

td {
	height: 3em;
	border: 1px solid  #faf9f9;
	padding: 10px 1em;
}

td:first-child {
	width: 40%;
	background-color: #faf9f9;
	border: none;
}

.center {
	width: 80%;
	margin: auto;
	text-align: center;
}

/*====== login.jsp ======*/
.sentence {
	padding-bottom: 1.5em;
}

/*====== itemCreate.jsp ======*/
.number {
	text-align: right;
	width: calc(100% - 2em);
}

.category-select {
	font-size: 0.8em;
	height: 3em;
}

.bottom {
	position: absolute;
	bottom: 1em;
	left: 0;
	right: 0;
}

/*====== itemCreateConfirm.jsp ======*/
.image-box {
	width: 100px;
	height: 100px;
	background-color: #faf9f9;
	position: relative;
	font-size:0.5em;
	margin-top: 10px;
}

.image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}