@charset "UTF-8";

/* カート */
/* 購入履歴 */
/* 商品管理 */
/* ユーザー管理 */

/**
 * itemList.jsp
 *
 *
 *
 *
 */

table, td, th {
	border: 1px solid  #DDD;
}

th {
	background-color: #add2c9;
	height: 4em;
	padding: 1em;
}

td {
	padding: 1em;
}

.item-image {
	margin: auto;
	width: 100px;
	height: 100px;
}

.image {
	width: 100%;
	height: 100%;
}

.center-button-box {
	width: 30%;
}

.return-button-box {
	width: 30%;
	margin-left: auto;
	margin-top: 20px;
}

.return-button {
	width: 100%;
	border: none;
	background-color: #faf9f9;
	color: #ff6473;
	font-size: 14px;
	text-align: right;
}

.return-button:hover {
	cursor: pointer;
}